<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Kareha</title>

    <script id="application-info" nonce="<%= content_security_policy_nonce %>" type="application/json">
      <%= application_info.to_json.html_safe %>
    </script>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application.scss' %>
    <%= vite_typescript_tag 'application' %>
  </head>

  <body>
    <% if alert %>
      <div class="alert">
        <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
